.idea/
.git/
storage/
vendor/
.env
public/install.lock
Modules/**/lock
Plugins/**/lock
public/views/modules/*
!public/views/modules/assets/
public/uploads/*
!public/uploads/avatar/
!public/uploads/website/
bootstrap/cache/blog_module.php
bootstrap/cache/install_module.php
bootstrap/cache/packages.php
bootstrap/cache/system_module.php
bootstrap/cache/services.php
public/uploads/
