.idea/
.git/
bootstrap/cache/
storage/
vendor/
.env
public/install.lock
Modules/**/lock
Plugins/**/lock
public/views/modules/**/
!public/views/modules/assets/
public/uploads/*
!public/uploads/avatar/
!public/uploads/website/
